<section class="about-us">
        <div class="about-us__container">
            <div class="about-us__more">
                <div class="about-us__more_title">
                    <h2>БІЛЬШЕ ПРО НАС</h2>
                </div>
                <div class="about-us__more_descript">
                    <p>заклад громадського харчування, що спеціалізується
                        на приготуванні піци. Кухар, який виготовляє піцу,
                        називається піцайоло. заклад громадського харчування,
                        що спеціалізується на приготуванні піци.
                        Кухар, який виготовляє піцу, називається піцайоло.</p>
                </div>
            </div>
            <div class="about-us__slider">
                <div class="container__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="./img/about-us/slider.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="./img/about-us/slider.jpg" alt="">
                            </div>
    
                            <div class="swiper-slide">
                                <img src="./img/about-us/slider.jpg" alt="">
                            </div>
    
                            <div class="swiper-slide">
                                <img src="./img/about-us/slider.jpg" alt="">
                            </div>
    
                            <div class="swiper-slide">
                                <img src="./img/about-us/slider.jpg" alt="">
                            </div>


                            <div class="swiper-slide">
                                <img src="./img/about-us/slider.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/about-us/slider.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/about-us/slider.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/about-us/slider.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/about-us/slider.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-next">
                            <img src="./img/about-us/Arrow Right.png" alt="">
                        </div>
                        <div class="swiper-button-prev">
                            <img src="./img/about-us/Arrow Left.png" alt="">
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

            </div>
        </div>
</section>