<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="order" class="header__order">
                    <div class="header__favourite">
                        <button class="header__favourite-btn">
                            <img src="./img/pizza/favorite-header.png" alt="favourite">
                            <div class="favourite__amount">0</div>
                        </button>
                    </div>
                    <div class="header__basket">
                        <button class="header__basket-btn">
                            <img src="./img/pizza/basket-header.png" alt="basket">
                            <div class="card__amount">0</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>