<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="order">
                    <div class="header__heart">
                        <img src="./img/pizza/favorite-header.png" alt="favourite">
                    </div>
                    <div class="header__basket">
                        <button class="header__btn">
                            <img src="./img/pizza/basket-header.png" alt="basket">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>