<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="order" class="header__order">
                    <div class="header__favourite">
                        <button class="header__favourite-btn">
                            <img src="./img/pizza/favorite-header.png" alt="favourite">
                            <div class="favourite__amount">0</div>
                        </button>
                    </div>
                    <div class="header__basket">
                        <button id="shop-btn" class="header__basket-btn">
                            <img src="./img/pizza/basket-header.png" alt="basket">
                            <div class="card__amount">0</div>
                        </button>
                        <div id="basket-modal" class="basket__modal">
                            <div class="modal__open">
                                <div class="modal__cards">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h5 class="card-title">Ваш заказ</h4>
                                                <div data-cart-empty class="alert alert-secondary" role="alert">
                                                    Корзина пуста
                                                </div>
                                                <!-- cart-wrapper -->

                                                <!-- // cart-wrapper -->

                                                <!-- Стоимость заказа -->
                                                <div class="cart-total">
                                                    <p><span class="h5">Доставка:</span> <span
                                                            class="delivery-cost free">бесплатно</span> </p>
                                                    <p><span class="h5">Разом:</span> <span
                                                            class="total-price">330</span> <span
                                                            class="rouble">грн</span>
                                                    </p>
                                                </div>
                                                <!-- // Стоимость заказа -->

                                        </div>

                                        <!-- Оформить заказ -->
                                        <div id="order-form" class="card-body border-top">
                                            <h5 class="card-title">Оформити замовлення</h4>
                                                <form>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                            placeholder="Ваш номер телефона">
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Замовити</button>
                                                </form>
                                        </div>
                                        <!-- // Оформить заказ -->

                                    </div>
                                    <button class="basket-close"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>