<section class="info">
    <div class="info__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.1217686515793!2d23.418343599999996!3d49.29303639999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473a4a475a0c992b%3A0xf0b8bebeacfd461!2z0J7Qu9GW0LzQvw!5e0!3m2!1suk!2sua!4v1678439637635!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="info__content">
                    <div class="info__content_contacts">
                        <h2>КОНТАКТИ:</h2>
                        <a href="tel:+38068 665-51-31">068 665-51-31</a>
                    </div>
                    <div class="info__content_time">
                        <h2>ЧАС РОБОТИ:</h2>
                        <p>10:30-21:45</p>
                    </div>
                    <div class="info__content_adress">
                        <h2>АДРЕСА САМОВИВОЗУ</h2>
                       <div class="adress__text">
                        <a href="https://goo.gl/maps/tRvvu74knDFpZfVm9" target="_blank">м. Борислав, вул. Дрогобицька 7, ТЦ Олімп</a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>