<section class="pizza">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <h1>НАША ПІЦЦА:</h1>
         </div>
         <div class="container__top">

            <div class="container">
               <div class="row">
                  <!--PIZZA 1-->
                  <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                     <div class="pizza__body" data-id="01">
                        <div class="pizza__card">
                           <div class="pizza__items">
                              <div class="pizza__describe">
                                 <p>400 г</p>
                                 <span>30 см</span>
                              </div>
                              <div class="pizza__favourite">
                                 <button class="favourite__pizza-btn">
                                    <img src="./img/pizza/favorite-heart.svg" alt="favourite">
                                 </button>
                              </div>
                           </div>
                           <div class="pizza__image">
                              <img src="./img/pizza/pizza-bayraktar.jpg" alt="pizza">
                           </div>
                           <div class="pizza__title">
                              <h3>
                                 Байрактар
                              </h3>
                              <p>
                                 Томатний соус, моцарела, бекон, салямі, оливки,цибуля, кукурудза, перець чилі.
                              </p>
                           </div>
                        </div>
                        <div class="items__wrapper">
                           <div class="price">
                              <p>255 <span>грн</span></p>
                           </div>
                           <div class="items counter-wrapper">
                              <div class="items__control" data-action="minus">-</div>
                              <div class="items__current" data-counter>1</div>
                              <div class="items__control" data-action="plus">+</div>
                           </div>
                           <button data-cart type="button" class="btn btn-block btn-outline-danger">Замовити</button>
                        </div>
                     </div>
                  </div>

                  <!--PIZZA 2-->
                  <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                     <div class="pizza__body" data-id="02">
                        <div class="pizza__card">
                           <div class="pizza__items">
                              <div class="pizza__describe">
                                 <p>400 г</p>
                                 <span>30 см</span>
                              </div>
                              <div class="pizza__favourite">
                                 <button class="favourite__pizza-btn">
                                    <img src="./img/pizza/favorite-heart.svg" alt="favourite">
                                 </button>
                              </div>
                           </div>
                           <div class="pizza__image">
                              <img src="./img/pizza/pizza-bayraktar.jpg" alt="pizza">
                           </div>
                           <div class="pizza__title">
                              <h3>
                                 Маргарита
                              </h3>
                              <p>
                                 Томатний соус, моцарела, бекон, салямі, оливки,цибуля, кукурудза, перець чилі.
                              </p>
                           </div>
                        </div>
                        <div class="items__wrapper">
                           <div class="price">
                              <p>155 <span>грн</span></p>
                           </div>
                           <div class="items counter-wrapper">
                              <div class="items__control" data-action="minus">-</div>
                              <div class="items__current" data-counter>1</div>
                              <div class="items__control" data-action="plus">+</div>
                           </div>
                           <button data-cart type="button" class="btn btn-block btn-outline-danger">Замовити</button>
                        </div>
                     </div>
                  </div>

                  <!--PIZZA 3-->
                  <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                     <div class="pizza__body" data-id="03">
                        <div class="pizza__card">
                           <div class="pizza__items">
                              <div class="pizza__describe">
                                 <p>400 г</p>
                                 <span>30 см</span>
                              </div>
                              <div class="pizza__favourite">
                                 <button class="favourite__pizza-btn">
                                    <img src="./img/pizza/favorite-heart.svg" alt="favourite">
                                 </button>
                              </div>
                           </div>
                           <div class="pizza__image">
                              <img src="./img/pizza/pizza-bayraktar.jpg" alt="pizza">
                           </div>
                           <div class="pizza__title">
                              <h3>
                                 4 Сири
                              </h3>
                              <p>
                                 Томатний соус, моцарела, бекон, салямі, оливки,цибуля, кукурудза, перець чилі.
                              </p>
                           </div>
                        </div>
                        <div class="items__wrapper">
                           <div class="price">
                              <p>190 <span>грн</span></p>
                           </div>
                           <div class="items counter-wrapper">
                              <div class="items__control" data-action="minus">-</div>
                              <div class="items__current" data-counter>1</div>
                              <div class="items__control" data-action="plus">+</div>
                           </div>
                           <button data-cart type="button" class="btn btn-block btn-outline-danger">Замовити</button>
                        </div>
                     </div>
                  </div>

                  <!--PIZZA 4-->
                  <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                     <div class="pizza__body" data-id="04">
                        <div class="pizza__card">
                           <div class="pizza__items">
                              <div class="pizza__describe">
                                 <p>400 г</p>
                                 <span>30 см</span>
                              </div>
                              <div class="pizza__favourite">
                                 <button class="favourite__pizza-btn">
                                    <img src="./img/pizza/favorite-heart.svg" alt="favourite">
                                 </button>
                              </div>
                           </div>
                           <div class="pizza__image">
                              <img src="./img/pizza/pizza-bayraktar.jpg" alt="pizza">
                           </div>
                           <div class="pizza__title">
                              <h3>
                                 Салямі
                              </h3>
                              <p>
                                 Томатний соус, моцарела, бекон, салямі, оливки,цибуля, кукурудза, перець чилі.
                              </p>
                           </div>
                        </div>
                        <div class="items__wrapper">
                           <div class="price">
                              <p>205 <span>грн</span></p>
                           </div>
                           <div class="items counter-wrapper">
                              <div class="items__control" data-action="minus">-</div>
                              <div class="items__current" data-counter>1</div>
                              <div class="items__control" data-action="plus">+</div>
                           </div>
                           <button data-cart type="button" class="btn btn-block btn-outline-danger">Замовити</button>
                        </div>
                     </div>
                  </div>

                  <!--PIZZA 5-->
                  <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                     <div class="pizza__body" data-id="05">
                        <div class="pizza__card">
                           <div class="pizza__items">
                              <div class="pizza__describe">
                                 <p>400 г</p>
                                 <span>30 см</span>
                              </div>
                              <div class="pizza__favourite">
                                 <button class="favourite__pizza-btn">
                                    <img src="./img/pizza/favorite-heart.svg" alt="favourite">
                                 </button>
                              </div>
                           </div>
                           <div class="pizza__image">
                              <img src="./img/pizza/pizza-bayraktar.jpg" alt="pizza">
                           </div>
                           <div class="pizza__title">
                              <h3>
                                 Гавайська
                              </h3>
                              <p>
                                 Томатний соус, моцарела, бекон, салямі, оливки,цибуля, кукурудза, перець чилі.
                              </p>
                           </div>
                        </div>
                        <div class="items__wrapper">
                           <div class="price">
                              <p>225 <span>грн</span></p>
                           </div>
                           <div class="items counter-wrapper">
                              <div class="items__control" data-action="minus">-</div>
                              <div class="items__current" data-counter>1</div>
                              <div class="items__control" data-action="plus">+</div>
                           </div>
                           <button data-cart type="button" class="btn btn-block btn-outline-danger">Замовити</button>
                        </div>
                     </div>
                  </div>

                  <!--PIZZA 6-->
                  <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                     <div class="pizza__body" data-id="06">
                        <div class="pizza__card">
                           <div class="pizza__items">
                              <div class="pizza__describe">
                                 <p>400 г</p>
                                 <span>30 см</span>
                              </div>
                              <div class="pizza__favourite">
                                 <button class="favourite__pizza-btn">
                                    <img src="./img/pizza/favorite-heart.svg" alt="favourite">
                                 </button>
                              </div>
                           </div>
                           <div class="pizza__image">
                              <img src="./img/pizza/pizza-bayraktar.jpg" alt="pizza">
                           </div>
                           <div class="pizza__title">
                              <h3>
                                 Мексиканська
                              </h3>
                              <p>
                                 Томатний соус, моцарела, бекон, салямі, оливки,цибуля, кукурудза, перець чилі.
                              </p>
                           </div>
                        </div>
                        <div class="items__wrapper">
                           <div class="price">
                              <p>230 <span>грн</span></p>
                           </div>
                           <div class="items counter-wrapper">
                              <div class="items__control" data-action="minus">-</div>
                              <div class="items__current" data-counter>1</div>
                              <div class="items__control" data-action="plus">+</div>
                           </div>
                           <button data-cart type="button" class="btn btn-block btn-outline-danger">Замовити</button>
                        </div>
                     </div>
                  </div>

                  <!--PIZZA 7-->
                  <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                     <div class="pizza__body" data-id="07">
                        <div class="pizza__card">
                           <div class="pizza__items">
                              <div class="pizza__describe">
                                 <p>400 г</p>
                                 <span>30 см</span>
                              </div>
                              <div class="pizza__favourite">
                                 <button class="favourite__pizza-btn">
                                    <img src="./img/pizza/favorite-heart.svg" alt="favourite">
                                 </button>
                              </div>
                           </div>
                           <div class="pizza__image">
                              <img src="./img/pizza/pizza-bayraktar.jpg" alt="pizza">
                           </div>
                           <div class="pizza__title">
                              <h3>
                                 Цезаре
                              </h3>
                              <p>
                                 Томатний соус, моцарела, бекон, салямі, оливки,цибуля, кукурудза, перець чилі.
                              </p>
                           </div>
                        </div>
                        <div class="items__wrapper">
                           <div class="price">
                              <p>200 <span>грн</span></p>
                           </div>
                           <div class="items counter-wrapper">
                              <div class="items__control" data-action="minus">-</div>
                              <div class="items__current" data-counter>1</div>
                              <div class="items__control" data-action="plus">+</div>
                           </div>
                           <button data-cart type="button" class="btn btn-block btn-outline-danger">Замовити</button>
                        </div>
                     </div>
                  </div>

                  <!--PIZZA 8-->
                  <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                     <div class="pizza__body" data-id="08">
                        <div class="pizza__card">
                           <div class="pizza__items">
                              <div class="pizza__describe">
                                 <p>400 г</p>
                                 <span>30 см</span>
                              </div>
                              <div class="pizza__favourite">
                                 <button class="favourite__pizza-btn">
                                    <img src="./img/pizza/favorite-heart.svg" alt="favourite">
                                 </button>
                              </div>
                           </div>
                           <div class="pizza__image">
                              <img src="./img/pizza/pizza-bayraktar.jpg" alt="pizza">
                           </div>
                           <div class="pizza__title">
                              <h3>
                                 Капрічоза
                              </h3>
                              <p>
                                 Томатний соус, моцарела, бекон, салямі, оливки,цибуля, кукурудза, перець чилі.
                              </p>
                           </div>
                        </div>
                        <div class="items__wrapper">
                           <div class="price">
                              <p>210 <span>грн</span></p>
                           </div>
                           <div class="items counter-wrapper">
                              <div class="items__control" data-action="minus">-</div>
                              <div class="items__current" data-counter>1</div>
                              <div class="items__control" data-action="plus">+</div>
                           </div>
                           <button data-cart type="button" class="btn btn-block btn-outline-danger">Замовити</button>
                        </div>
                     </div>
                  </div>

                  <!--PIZZA 9-->
                  <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
                     <div class="pizza__body" data-id="09">
                        <div class="pizza__card">
                           <div class="pizza__items">
                              <div class="pizza__describe">
                                 <p>400 г</p>
                                 <span>30 см</span>
                              </div>
                              <div class="pizza__favourite">
                                 <button class="favourite__pizza-btn">
                                    <img src="./img/pizza/favorite-heart.svg" alt="favourite">
                                 </button>
                              </div>
                           </div>
                           <div class="pizza__image">
                              <img src="./img/pizza/pizza-bayraktar.jpg" alt="pizza">
                           </div>
                           <div class="pizza__title">
                              <h3>
                                 Прошуто
                              </h3>
                              <p>
                                 Томатний соус, моцарела, бекон, салямі, оливки,цибуля, кукурудза, перець чилі.
                              </p>
                           </div>
                        </div>
                        <div class="items__wrapper">
                           <div class="price">
                              <p>250 <span>грн</span></p>
                           </div>
                           <div class="items counter-wrapper">
                              <div class="items__control" data-action="minus">-</div>
                              <div class="items__current" data-counter>1</div>
                              <div class="items__control" data-action="plus">+</div>
                           </div>
                           <button data-cart type="button" class="btn btn-block btn-outline-danger">Замовити</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
</section>