.header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    .header__order {
        display: flex;
        align-items: center;
        justify-content: end;
        .header__favourite {
            padding: 15px 26px;
            border-right: 2px solid grey;
        }
        .header__favourite-btn {
            background: none;
            border: none;
            position: relative;
            .favourite__amount {
                position: absolute;
                top: -9px;
                right: -2px;
                font-family: "Roboto";
                font-weight: 700;
                font-size: 11px;
                line-height: 12px;
                text-align: center;
                background: #ba0000;
                border-radius: 16px;
                color: #ffffff;
                padding: 2px 4px;
            }
        }
    }
    .header__basket {
        padding: 15px 26px;
        .header__basket-btn {
            background: none;
            border: none;
            position: relative;
            .card__amount {
                top: -6px;
                right: 0;
                position: absolute;
                font-family: "Roboto";
                font-weight: 700;
                font-size: 11px;
                line-height: 12px;
                text-align: center;
                background: #ba0000;
                border-radius: 16px;
                color: #ffffff;
                padding: 2px 4px;
            }
        }

        .basket__modal {
            display: none;
            position: relative;
            .modal__open {
                position: fixed;
                width: 50%;
                min-height: 50%;
                background-color: #ffffff;
                border-radius: 25px;
                padding: 20px;
                color: #000;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 100;

                .modal__cards,
                .cart-wrapper {
                    background-color: #fff;
                    width: 100%;
                    min-height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-gap: 80px;

                    .pizza__modal,
                    .pizza__body {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        .pizza__card-modal,
                        .pizza__card {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .pizza__title-modal,
                            .pizza__title {
                                padding: 10px 0;
                                text-align: center;
                                h3 {
                                    padding: 10px 0;
                                    text-align: center;
                                }
                            }

                            .pizza__image-modal,
                            .pizza__image {
                                max-width: 100px;
                                max-height: 100px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .items__wrapper-modal,
                        .items__wrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 10px 0;
                            gap: 10px;
                            .price-modal,
                            .price {
                                p {
                                    font-size: 16px;
                                    span {
                                    }
                                }
                            }
                            .counter-pizza-modal,
                            .counter-pizza {
                                display: flex;

                                .items__control-modal,
                                .items__control {
                                    font-size: 26px;
                                    cursor: pointer;
                                }
                                .items__current-modal,
                                .items__current {
                                    font-size: 26px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    .basket-close {
                        position: absolute;
                        background: none;
                        top: 5%;
                        right: 3%;
                        border: none;
                        width: 24px;
                        height: 24px;
                        border: 1px solid #000;
                        opacity: 0.5;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            opacity: 1;
                        }
                        &::before,
                        &::after {
                            content: "";
                            position: absolute;
                            top: 10px;
                            right: 3%;
                            display: block;
                            width: 24px;
                            height: 3px;
                            background: #ba0000;
                        }

                        &::before {
                            transform: rotate(45deg);
                        }

                        &::after {
                            transform: rotate(-45deg);
                        }
                    }
                    #cart {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
